body{
    background-color: black;
}
.titolo{
    color: orangered;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
    padding: 3%;
}
.search{
    font-size: 25px;
    margin-top: 2.5%;
    margin-left: 14.6%;
    height: 40%;
    outline: none;
    width: 85.5%;
}
.fa-search{
    color: black;
    cursor: pointer;
    position: absolute;
    margin-top: -3.5%;
    margin-left: 94%;
}
.fa-times{
    color: black;
    cursor: pointer;
    display: none;
    position: absolute;
    margin-top: -3.5%;
    margin-left: 92%;
}
.altro{
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    justify-content: center;
    padding: 0.3%;
}
.card-body{
    padding: 0.3%;
}